@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
}

.card.draggable {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 400px;
  position: relative;
  margin: 20px;
  padding: 10px;
}

.border {
  border: 1px solid rgb(184, 184, 184)
}

.card.header {
  background: rgb(184, 184, 184) !important;
  height: 30px;
  display: flex;
  width: 80%;
}

.card.image {
  background: rgb(184, 184, 184) !important;
  height: 100px;
  display: flex;
}

.card.content {
  background: rgb(184, 184, 184) !important;
  height: 20px;
  display: flex;
}

.card.content.end {
  width: 60%;
}

.card.content.icons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0) !important;
}

.card.content.icons.single {
  background: rgb(184, 184, 184) !important;
  height: 30px;
  width: 30px;
}

.card.swipe {
  height: 60px;
  background: rgb(184, 184, 184);
  display: flex;
  justify-content: center;
  padding: 5px
}

.card.swipe.action {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background: rgb(73, 214, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bolder;
  color: rgb(184, 184, 184)
}

.card.saved {
  background: rgb(20, 238, 0);
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: rgb(11, 100, 3);
  position: absolute;
  bottom: 5px;
  width: 50%;
  left: 25%;
}
.card.saved-2 {
  background: rgb(20, 238, 0);
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: rgb(11, 100, 3);
  position: absolute;
  bottom: 50% - 10px;
  width: 50%;
  left: 25%;
}

.card.disliked {
  background: rgb(238, 86, 86);
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: rgb(117, 2, 2);
  position: absolute;
  bottom: 5px;
  width: 50%;
  left: 25%;
}
